<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="AAI|IAA Arise with AI|IA para aprender">
    <meta name="description" content="This AAI|IAA page shares the experience of a AI user.">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="refresh" content="5; url=https://andresrojas0.github.io" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>