---
layout: base.njk
---

<article>
  <h1>{{ title }}</h1>
  
  {% if date %}
    <time class="post-date">{{ date }}</time>
  {% endif %}
   
  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" width="600">
  {% endif %}

  <div>
    {{ content | safe }}
  </div>
</article>